<!-- 提示模态框 -->
<div class="modal fade" data-keyboard="false" data-backdrop="false" tabindex="-1" #promptDiv>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">提示</h4>
        <button type="button" class="close" aria-label="Close" (click)="close()">
          &times;
        </button>
      </div>
      <form class="form-horizontal">
        <div class="modal-body">
          <div class="modal-warning-icon"></div>
          <div>{{message}}</div>
        </div>
      </form>
      <div class="modal-footer">
        <button nz-button (click)="close()">取消</button>
        <button nz-button nzType="primary" (click)="submit()">{{sureName}}</button>
      </div>
    </div>
  </div>
</div>
