<div class="link-record-crumb">
  <span>链接</span>
</div>
<div class="link-record-content">
  <p class="title">生成链接历史记录</p>
  <div class="link-tab">
    <nz-table #borderedTable nzBordered [nzData]="data">
      <thead>
      <tr>
        <th>日期</th>
        <th>时间</th>
        <th>数量</th>
        <th>操作</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let data of borderedTable.data">
        <td>{{data.date}}</td>
        <td>{{data.time}}</td>
        <td>{{data.number}}</td>
        <td><span class="user-operation">导出</span></td>
      </tr>
      </tbody>
    </nz-table>
  </div>
</div>
