<div class="main-layout">
  <div class="main-header-layout">
    <div class="main-logo"></div>
    <div class="header-menu">
      <button
        [routerLink]="['','main']" [routerLinkActive]="['btn-active']">首页
      </button>
      <button
        [routerLink]="['','link']" [routerLinkActive]="['btn-active']">生成链接
      </button>
      <button
        [routerLink]="['','management']" [routerLinkActive]="['btn-active']">管理
      </button>
    </div>
    <div class="main-header">
      <div class="main-header-user">
      </div>
      <span>admin</span>
      <div class="main-header-logout" (click)="onLogoutDivClick()"></div>
      <div class="logout-btn" (click)="onLogoutDivClick()">退出</div>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>
