@import url('https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css');

form {
  width: 300px;
  background-color: #cce3f7;
  border-radius: 30px;
  margin: 0 auto;
  padding: 20px;
}

label{
  margin-bottom: 0px;
}

.big-container {
  height: 55px;
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.cancel {
  display: inline-block;
  float: right;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  outline: none;
}
.cancel:hover{
  background-color: #51a051;
}

.form-control {
  display: inline-block;
  width: 72%;
}

form > div label span {
  text-align: right;
  display: inline-block;
  width: 70px;
}

.alert {
  padding: 0px;
  background-color: transparent;
  border-color: transparent;
  margin-bottom: 0px;
  margin-left: 70px;
}
