.practice_nav {
  width: 290px;
  margin: 0 auto;
}

.practice_nav a {
  text-decoration: none;
  display: inline-block;
  width: 75px;
  height: 36px;
  background-color: #64aae6;
  color: #655c5c;
  font-size: 14px;
  border-radius: 10px;
  text-align: center;
  line-height: 36px;
  margin: 10px;
  margin-top: 15px;
}

ul {
  padding: 0;
}

ul li {
  list-style: none;
}

.practice_big {
  width: 500px;
  margin: 0 auto;
}

.practice_big div {
  float: left;
  width: 230px;
  margin: 9px;
  text-align: center;
  padding: 10px 0;
}

.practice_big div button {
  width: 140px;
  height: 33px;
  background-color: #daabab;
  border: none;
  border-radius: 10px;
  outline: none;
}
