<div class="link-crumb">
  <span>链接</span>
</div>
<div class="link-content">
  <div class="title">生成链接</div>
  <form>
    <p>
      <label><span>* </span> 数量:
        <input type="text" [(ngModel)]="num" name="num" class="link-input" />
      </label>
    </p>
    <p style="color: red;margin: 10px;" [class.link-error]="errorShow">请输入数字</p>
    <p>
      <a download="down.xml" href="src/app/share/components/link/link-record-home/down.xml" (click)="onBtnExport()">
        <input type="button" value="生成并导出" class="link-button" />
      </a>
    </p>
  </form>
</div>
