<div class="user-management-crumb">
  <span>用户管理</span>
</div>
<div class="user-management-content">
  <p class="title">数据筛选</p>
  <form>
    <p>
      <label>手机号：
        <input type="text" name="tel" />
      </label>
      <label>车牌号：
        <select name="brand">
          <option  value="all">全部</option>
        </select>
      </label>
      <label>服务状态：
        <select name="state">
          <option  value="all">全部</option>
        </select>
      </label>
    </p>
    <p class="user-btn">
      <label>绑定时间：
        <nz-range-picker [(ngModel)]="dateRange" (ngModelChange)="onChange($event)" nzShowTime></nz-range-picker>
      </label>
      <button class="submit">提交</button>
      <button class="reset">重置</button>
    </p>
  </form>
</div>
<div class="user-screen">
  <p class="title">数据列表</p>
  <div class="management-tab">
    <nz-table #borderedTable nzBordered [nzData]="dataSet">
      <thead>
      <tr>
        <th>链接</th>
        <th>手机号</th>
        <th>车牌号</th>
        <th>启用</th>
        <th>操作</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let data of borderedTable.data">
        <td>{{data.link}}</td>
        <td>{{data.tel}}</td>
        <td>{{data.brand}}</td>
        <td><nz-switch [(ngModel)]="data.switchValue"></nz-switch></td>
        <td>
          <span>查看</span>&nbsp;&nbsp;&nbsp;
          <span>编辑</span>
        </td>
      </tr>
      </tbody>
    </nz-table>
  </div>
</div>
